@{
    ViewBag.Title = "Home Page";
    var message=ViewBag.Message;
}

<div class="jumbotron">
   Employee Pay slip will be generated in csv format, Please check specified folder.
</div>

<div class="row">
    @message
</div>